
.empty-well {
    background: transparent;
}
.bigger-icon {
    font-size: 48px;
}
.footer-background {
    background: black;
    color: white;
}
.error {
    color: #FF0000;
}

.carousel {
    margin-top: 50px;
}

.padding-left-8px {
    padding-left: 8px;
}
